{% load static %}
<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Loding font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css'%}">

    <title>SignUp</title>
</head>
{% include 'first_header.html' %}
<body>

    <!-- Backgrounds -->

    <div id="login-bg" class="container-fluid">

      <div class="bg-img"></div>
      <div class="bg-color"></div>
    </div>

    <!-- End Backgrounds -->

    <div class="container" id="login">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="login" style="height: 646px;">

                    <h1>SignUp</h1>
                    
                    <!-- register form -->
                            <form method="post" action = "{% url 'accounts:user_register'  %}" >
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.fname }}
                            </div>
                            <div class="form-group">
                                {{ form.lname }}
                            </div>
                            <div class="form-group">
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                {{ form.password }}
                            </div>
                            <input class="btn btn-lg btn-block btn-success"type="submit" value="SignUp">
                            </form>
                        <!-- End Loging form -->
                        <small class="text" style="color: aliceblue;">
                        Already have a account? <a class="text-decoration-none" href="{% url 'accounts:user_login' %}">Login Here</a>
                    </small>

                </div>
            </div>
        </div>
    </div>



</body>
</html>



<!-- <body class="login-bg" style="height: 100vh;">
    <div class="modal-content ps-5 pb-5 pe-5">
        <h3 class="mt-4 mb-3"><b>Create account</b></h3>
        <div class="row">
            <form action = "{% url 'accounts:user_register'  %}" method="post">
                {% csrf_token %}
                <div class="">
                    {{ form.email }}
                </div>
                <div class="mt-2">
                    {{ form.username }}
                </div>
                <div class="mt-2">
                    {{ form.password }}
                </div>
                <input class="modal-red-btn btn mt-3 w-100" type="submit" value="Submit" placeholder="submit">
            </form>
            <small class="text-muted mt-3">
                Already have a account? <a class="text-decoration-none" href="{% url 'accounts:user_login' %}">Login Here</a>
            </small>
        </div>
    </div>
</body> -->


