{% extends "base.html" %}
{% block content %}
<!-- <div class="col-md-8 pt-2 pb-2 row delete-user-detail-container"> -->
<div class="row delete-user-detail-container">
    <div class="col-md-6 mt-4">
        <form action="" class="mb-3" method="post">
        <div class="row">
            {% csrf_token %}
        </div>
        </form>
        <div class="row">
            <div class="col-md-1">
                <a href="">
                    <img src="{{ user.profile.photo.url }}" class="rounded-circle" width="300" height="300">
                </a>
            </div>
            <!-- <div class="col-md-15 ms-1"> -->
            <div class="middle-username">
                <a href="" class="text-decoration-none text-dark">
                    <b class="ms-3">{{user.username}}</b>
                </a>
            </div>
        </div>
        
        
    </div>
    <div class="col-md-6 mt-4">
        <form style="display: block;" action="{% url 'accounts:delete_account'  %}" id="commentsForm" method="post">
            <!-- <p style="font-size: 12px;" >Share feedback, ask a question or give a high five</p> -->
            {% csrf_token %}
            <div class="col mt-3 middle-options">
                <h1>Do you want to delete your account?</h1>
                <div class="mt-3">
                    <button class="btn btn-danger" type="submit" value="True" name="answer"style="width:5em">Yes</button>
                    <button class="btn btn-success" type="submit" value="False" name="answer" style="width:5em">No</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Edit pin modal -->





{% endblock %}