{% extends "base.html" %}
{% block content %}
<div id="" class=""></div>
    <div class="modal-content ps-5 pb-5 pe-5">
        <h3 class="mt-4 mb-3"><b>Create Board</b></h3>
        <div class="row">
            <form method="POST" >
                {% csrf_token %}
                <label style="float: left;" for="">Name</label>
                {{ forms.title }}
                <div class="col-md-1 mt-4">    
                    {{ forms.is_private }}                        
                </div>
                <div style="text-align:left" class="col-md-11">
                    <b class="ms-1">Keep this board secret</b>
                    <p class="text-muted ms-4">So only you and collaborators can see it. Learm more</p>
                </div>
                <button class="modal-red-btn btn text-white mt-3" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %} 