.edit-profile-input{border: 2px #dddddd solid;}
.about-input {border-radius: 20px;}

/* div#masonry {
	display:-ms-flexbox;
	-ms-flex-direction: column;
	-ms-flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 200vw;
	width: 290px;
	margin: 0;
} */
.masonry { /* Masonry container */
    -webkit-column-count: 5;
  	-moz-column-count:5;
  	column-count: 5;
  	column-gap: 15px;
   	margin-left: 7%;
   	margin-right: 7%;
    padding: 0;

}
.item {
    display: inline-block;
    margin: 5% 0 0;
	position: relative;
	/* margin-right: 0; */
    width: 100%;
	height: 100%;
	/* border: 2px solid red;
	padding: 0%; */
}
.item img{
	width: 100%;
	height: 100%;
	border-radius: 15px;
	cursor: zoom-in;
	margin: 0;
	/* border: 2px solid red; */

}
.video_cards {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	cursor: zoom-in;
	margin: 0;
}
@media only screen and (max-width: 320px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1200px){
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1201px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

/* div#masonry img, div#masonry video { 
	width: 100%;
	border-radius: 20px;
	cursor: zoom-in;
} */


.modal {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.658);
  }
  
.modal-content {
	background-color: #ffffff;
	margin: 10% auto;
	width: 40%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;
	border-radius: 35px;
  }
  
  @keyframes modalopen {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
  }

.img-container {position: relative;}
  
.img-container .edit-btn {
	position: absolute;
	top: 72%;
	left: 98%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	font-size: 18px;
	padding: 10px;
	border: none;
	cursor: pointer;
	border-radius: 90%;
	text-align: center;
}

.edit-btn{
	display: none;
	background-color: white;
	border-radius: 90%;
}

.img-container img:hover + .edit-btn {display: inline-block;}

.description-input {border-radius: 30px;}
.board-input {border-radius: 30px 0px 0px 30px;}


.pin-detail-container{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 30px;
	margin-bottom: 15px;
}

header, .first-header {box-shadow: rgba(89, 89, 92, 0.041) 0px 7px 5px 0px;}

.btn {border-radius: 50px;}
.following-btn {background-color: #0e0e0e;}
.main-btn {background-color: #efefef;}
.red-btn {background-color: #e60023;}

.modal-red-btn {
	background-color: #e60023;
	float: right;
	font-weight: bold;
}

.btn-select-border{border-bottom: 2px black solid;}

.save-btn {
	background-color: #e60023;
	border-radius: 0 30px 30px 0;
	border: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 7px;
	padding-right: 10px;
	margin-left: -25px;
}
.pin-detail-img {
	height: fit-content;
	width: 400px;
	border-radius: 20px;
	margin-left: -15px;
}

.edit-pin-modal {
	background-color: #ffffff;
	margin: 10% auto;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;
	border-radius: 35px;
	overflow: auto;
}

.video {
	object-fit: cover;
	width: 200px;
	height: 300px;
	border-radius: 20px;
}

.edit-modal-video {
	object-fit: cover;
	width: 280px;
	height: 480px;
}

.edit-modal-img{
	border-radius: 20px;
	width:280px;
	height:auto;
}

.comment-text-border {
	border-radius: 20px;
}
.private-checkbox {
	float: left;
}
.login-bg {
	background-image: url('../../media/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.save-pin-btn {
	position: absolute;
	right:1em;
	top: 2.5em;
	z-index: 1;
	display: none;
}

.more-btn {
	position: absolute;
	right: 1em;
	bottom: 1em;
	z-index: 1;
	display:none;
}

.share-btn {
	position: absolute;
	right: 4em;
	bottom: 1em;
	z-index: 1;
	display: none;
}

.item:hover img{
	-webkit-filter: brightness(70%);
}

.item:hover .save-pin-btn{
	display: inline-block;
}

.item:hover .more-btn{
	display: inline-block;
}

.item:hover .share-btn{
	display: inline-block;
} 

.item .hover_cards{
	display: inline-block;
}

/* --------------------------------------------- */

.board-label{
	font-weight: 600;
	font-size: larger;
	color: #0e0e0e;
	font-family: inherit;
}

.item .board-sub-label{
	font-weight: 600;
	font-size: medium;
	color: #0e0e0e;
	font-family: inherit;
}

.item .dropdown-center{
	position: absolute;
	right: 1em;
	bottom: 1em;
	z-index: 1;
	display:none;
	background-color: #ffffff;
	width: 2.5em;
	height: 2.5em;
}

.item:hover .dropdown-center{
	display: inline-block;
	
}

.item svg{
	position: absolute;
	right: 0.6em;
	bottom: 0.6em;
}


/* .dropdown-menu{
	border: 2px solid red;
	
}
*/
.item .dropdown-menu-center{
	transform: translate3d(-61px, 40.5px, 0px)!important;
	text-align: center;
	--bs-dropdown-link-hover-bg: #d1d1d1 !important;
	padding: 0.5em;
}

.item .dropdown-item{
	border-radius: 0.4em;
}

.sticky-btn{
	position:fixed;
	bottom: 15em;
	right: 5em;
	border-radius: 50%;
	height: 3.5em;
	width: 3.5em;


}
.sticky-btn svg{
	position: absolute;
	right: 1.1em;
	bottom: 1.1em;
}

.sticky-btn:hover{
	background-color: #d1d1d1;
}

.sticky li{
	text-align: center;
	--bs-dropdown-link-hover-bg: #d1d1d1 !important;
	padding: 0.2em;
	
}
.sticky .dropdown-item{
	border-radius: 0.4em;
}

.sticky-created-saved{
	position: -webkit-sticky;
	position: sticky;
	top:4.55em;
	z-index: 1;
	background-color: #ffffff;
	margin-top: 0;
	height: 4em;
	width: 100%;
	text-align: center;
	padding-top: 0.8em;
}

.item .dropdown-share{
	position: absolute;
	right: 4em;
	bottom: 1em;
	z-index: 1;
	display:none;
	background-color: #ffffff;
	width: 4em;
	height: 2.5em;
	border-radius: 2em;
}

.share-btn{
	right: 0.8em;
	bottom: 0.53em;
	color: #0e0e0e;
	text-decoration: none;
}

.item:hover .dropdown-share{
	display: inline-block;
}

.tweet-this a{
	color: #0e0e0e;
	text-decoration: none;
}
.whatsapp-this a{
	color: #0e0e0e;
	text-decoration: none;
}

.facebook-this a{
	color: #0e0e0e;
	text-decoration: none;
}

.copy-this button{
	color: #0e0e0e;
	text-decoration: none;
	border: 0px;
	background-color: #ffffff;
	padding: 0.5em;
	border-radius: 0.4em;
}

ul .share-item{
	/* transform: translate3d(-61px, 40.5px, 0px)!important; */
	text-align: center;
	padding: 0.5em;
}

.share-item:hover{
	border-radius: 0.4em;
	background-color: #d1d1d1;
}
.copy-btn-class:hover{
	background-color: #d1d1d1;
}

.item .board-sub-label{
    /* font-weight: 600; */
    font-size: 15px;
    color: #848484;
    /* font-family: inherit; */
}