{% extends "masonry.html" %}
{% load social_share %}
{% block content %}
<script>
    let pageId = 1;
    window.addEventListener("wheel", function (event) {
            if (event.deltaY < 0) {
                console.log("scrolling up");
                document.getElementById("status").textContent =
                    "scrolling up";
            } else if (event.deltaY > 0) {
                console.log("scrolling down");
                document.getElementById("status").textContent =
                    "scrolling down";
            }

            var scrolled = (window.pageYOffset / window.innerHeight) * 100;
            console.log("scrolled:", scrolled + "%");
            let atag = document.getElementById('paginate')
            if (pageId > 1) {
                atag.href = atag.href.slice(0, 27);
            }
            atag.href = atag.href + pageId.toString();
            console.log(atag.href)
            pageId++;

            document.getElementById("offset").textContent =
                "scrolled: " + scrolled.toFixed(2) + "%";
              });
</script>
<div class="fixed">
    <div id="status"></div>
    <div id="offset"></div>
</div>
    {% for pin in pins %}
        <div class="item">
            
            <form method="POST" action="{% url 'home:save-pin' pin.id %}">
                {% csrf_token %}
                    <button class="btn btn-danger save-pin-btn" type="submit">Save</button>
            </form>
            <div class="dropdown-center btn btn-light">
                <a href="#" class="d-block text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="gUZ pBj" height="20" width="20" viewBox="0 0 24 24" aria-label="More options" role="img">
                        <path d="M12 9c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3M3 9c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm18 0c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3z" fill="#111111" stroke-width="0px"></path>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-center text-small" aria-labelledby="dropdownUser1">
                    <li><a id="editPinBtn" class="dropdown-item" href="{% url 'home:download' pin.file.path %}">Download Pin</a></li>
                </ul>
            </div>        
            <div class="dropdown-share btn btn-light">
                <a href="#" class="share-btn" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </a>
                <ul class="dropdown-menu dropdown-menu-center text-small" aria-labelledby="dropdownUser1">
                    <li class="share-item">{% post_to_facebook object_or_url "Facebook" %}</li>
                    <li class="share-item">{% post_to_twitter object_or_url "Twitter" %}</li>
                    <li class="share-item">{% post_to_whatsapp object_or_url "Whatsapp" %}</li>
                    <li class="share-item4">{% copy_to_clipboard object_or_url "Copy to clipboard" %}</li>
                </ul>
            </div> 
            <a class=" hover_cards" href="{% url 'pins:pin_detail' pin.id %}" >
                {% if pin.get_type == 'video' %}
                <video class = "video_cards" autoplay muted loop>
                    <source src="{{ pin.file.url }}">
                </video>
                {% elif pin.get_type == 'image' %}
                <img src="{{ pin.file.url }}">
                {% endif %}
                
            </a>
            <div class = "pin-title-user">
                <p id = "pin-title">{{ pin.title }}</p>
                <a id = "pin-user" href="#">
                    <img src="{{ pin.user.profile.photo.url }}"/> 
                    {{ pin.user.profile.fname }} {{ pin.user.profile.lname }}
                </a>
            </div> 
        </div>
    {% endfor %} 

{% endblock %}
