{% extends "masonry.html" %}
{% load social_share %}
{% block content %}
    
{% for pin in pins %}
        <div class="item">
            
            <form method="POST" action="{% url 'home:save-pin' pin.id %}">
                {% csrf_token %}
                    <button class="btn btn-danger save-pin-btn rounded-pill" type="submit">Save</button>
            </form>
            <div class="dropdown-center btn btn-light rounded-pill">
                <a href="#" class="d-block text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" class="gUZ pBj" height="20" width="20" viewBox="0 0 24 24" aria-label="More options" role="img">
                        <path d="M12 9c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3M3 9c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm18 0c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3z" fill="#111111" stroke-width="0px"></path>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-center text-small" aria-labelledby="dropdownUser1">
                    <li><a id="editPinBtn" class="dropdown-item" href="{% url 'home:download' pin.file.path %}">Download Pin</a></li>
                </ul>
            </div>        
            <div class="dropdown-share btn btn-light">
                <a href="#" class="share-btn" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    Share
                </a>
                <ul class="dropdown-menu dropdown-menu-center text-small" aria-labelledby="dropdownUser1">
                    <li class="share-item">{% post_to_facebook object_or_url "Facebook" %}</li>
                    <li class="share-item">{% post_to_twitter object_or_url "Twitter" %}</li>
                    <li class="share-item">{% post_to_whatsapp object_or_url "Whatsapp" %}</li>
                    <li class="share-item4">{% copy_to_clipboard object_or_url "Copy to clipboard" %}</li>
                </ul>
            </div> 
            <a class=" hover_cards" href="{% url 'pins:pin_detail' pin.id %}" >
                {% if pin.get_type == 'video' %}
                <video class = "video_cards" autoplay muted loop>
                    <source src="{{ pin.file.url }}">
                </video>
                {% elif pin.get_type == 'image' %}
                <img src="{{ pin.file.url }}">
                {% endif %}
                
            </a>
            <div class = "pin-title-user">
                <p id = "pin-title">{{ pin.title }}</p>
                <a id = "pin-user" href="#">
                    <img src="{{ pin.user.profile.photo.url }}"/> 
                    {{ pin.user.profile.fname }} {{ pin.user.profile.lname }}
                </a>
            </div> 
        </div>
    
    {% endfor %} 

    <!------offcanvas---->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">update</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group comments">
                {% for comment in comments %}
                    <a href="{% url 'pins:pin_detail' comment.pins.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                        <div class="flex-column w-50">
                            <b>{{ comment.user }}</b> commented on your pin
                        </div>
                        <div class="image-comment">
                            <img src="{{ comment.pins.file.url }}" class="img-fluid" height="50px" width="50px" style="border-radius: 10%;">
                        </div>
                      </a>
                {% endfor %}
            </ul>
        </div>
    </div>


    <!-- test toast -->
    {% if messages %}
            
              {% for message in messages %}
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="liveToast" class="hide toast bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <div class="spinner-border spinner-border-sm text-success" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <strong class="me-auto">Welcome</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body text-white">
                        Hello, {{ message }}
                    </div>
                    </div>
                </div> 
                <script>
                    window.onload = (event) => {
                    let myAlert = document.getElementById('liveToast');
                    let bsAlert = new bootstrap.Toast(myAlert);
                    bsAlert.show();
                    }
                </script>
              {% endfor %}
            
    {% endif %}
    

{% endblock %}




